#navbar{
    background-color:rgb(196, 96, 96);
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #navbar a{
     margin-right: 20px;
     width: 150px;
     font-size: 26px;
     font-weight: 900;
     color:  white;
     text-decoration: none;
     cursor: pointer;
 }
 
 #navbar .active{
     color: yellow;
 }

#signup-form-div{
    /* background-color:turquoise;  */
     padding: 50px;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 400px;
    margin-top: 80px; 
    /* max-width: 500px; */
    padding: 0px 40px;
    /* border: 2px solid black; */
     box-shadow: rgba(255, 11, 11, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
} 
   form h1{
    margin-bottom: 60px;
}
    input{
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px;
}
input[type=submit]{
    background-color:red;
    color: #fff;
    margin: 10px 80px 0 80px;
    border-radius: 10px;
    margin-bottom: 40px;
}